.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #b8bcef;
  margin-top: 80px;
}

.footerText {
  color: #0913b1;
  font-weight: bolder;
}

.div-logoFooter {
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: #0913b1;
  padding: 10px;
  font-weight: bolder;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
  color: gray;
}

.nav-link.active {
  color: white;
  background-color: blue;
  border-radius: 5px;
}

@media (max-width: 760px) {
  .main-footer {
    width: 100%;
    text-align: center;
  }

  .footerText {
    font-size: 12px;
  }

  .logoFooter {
    width: 50%;
    height: auto;
  }
}
