.sports-icones-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px auto;
  width: 80%;
}

.scroll-button {
  background: #b8bcef;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  padding: 10px;
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.scroll-button:hover {
  opacity: 1; /* Rendre le bouton complètement opaque au survol */
}

.scroll-button.left {
  position: absolute;
  left: -30px;
  color: white;
}

.scroll-button.right {
  position: absolute;
  right: -30px;
  color: white;
}

.sports-icones-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.sports-icones-container {
  overflow-x: auto;
  display: flex;
  scroll-behavior: smooth;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.sports-liste {
  display: flex;
  gap: 20px;
  flex-shrink: 0; /* Empêche les éléments de rétrécir */
  width: max-content;
}

.sport-item {
  text-align: center;
  padding: 10px;
  flex-shrink: 0;
}

.sport-item img {
  max-width: 100px;
  height: auto;
  object-fit: cover;
}

.sport-item span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.sport-link {
  text-decoration: none;
}
